.App {
  text-align: center;
}
.container {
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.main-timer {
  margin-bottom: 30px;
  text-align: center;
}
.local-timer {
  width: 100%;
}
